extends layout 

body
	block content
		#fh5co-wrapper
		#fh5co-page
			#fh5co-header
				.top
					.container
						span
						a(href='#')
							i @
							| info@freehtml5.co
						span
						a(href='tel://+12345678910')
							i.icon-mobile3
							|   123 4567 8910
					// end:top
			header#fh5co-header-section
				.container
					.nav-header
						a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#')
							i
						h1#fh5co-logo
							a(href='index.html') Render
						// START #fh5co-menu-wrap
						nav#fh5co-menu-wrap(role='navigation')
							ul#fh5co-primary-menu.sf-menu
								li
									a(href='index.html') Home
								li
									a(href='portfolio.html') Portfolio
								li
									a.fh5co-sub-ddown(href='services.html') Services
									ul.fh5co-sub-menu
										li
											a(href='left-sidebar.html') Web Development
										li
											a(href='right-sidebar.html') Branding & Identity
										li
											a.fh5co-sub-ddown(href='#') Free HTML5
											ul.fh5co-sub-menu
											li
												a(href='http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template', target='_blank') Build
											li
												a(href='http://freehtml5.co/preview/?item=work-free-html5-template-bootstrap', target='_blank') Work
											li
												a(href='http://freehtml5.co/preview/?item=light-free-html5-template-bootstrap', target='_blank') Light
											li
												a(href='http://freehtml5.co/preview/?item=relic-free-html5-template-using-bootstrap', target='_blank') Relic
											li
												a(href='http://freehtml5.co/preview/?item=display-free-html5-template-using-bootstrap', target='_blank') Display
											li
												a(href='http://freehtml5.co/preview/?item=sprint-free-html5-template-bootstrap', target='_blank') Sprint
										li
											a(href='#') UI Animation
										li
											a(href='#') Copywriting
										li
											a(href='#') Photography
									li.active
										a(href='about.html') About
									li
										a(href='#') Blog
									li
										a(href='contact.html') Contact

			.fh5co-hero
					.fh5co-overlay
					div(class="fh5co-cover text-center parallax-window", data-parallax="scroll", data-image-src="images/work-11.jpg")
						.desc.animate-box
							h2 ABOUT US
							span
								| Lovely Crafted by 
								a.fh5co-site-name(href='https://www.webriq.com/', target='_blank') webriq.com
							span
								a.btn.btn-primary(href='#') Hire Us

			#fh5co-about.border-bottom
				.container
					.row
						.col-md-12.animate-box
							figure
								img.img-responsive(src='images/blog-1.jpg', alt='Free HTML5 Bootstrap Template by FREEHTML5.co')
					.row
						.col-md-6.animate-box
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
						.col-md-6.animate-box
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.

			// fh5co-services-section
			#fh5co-content-section
				.container
					.row
						.col-md-6.col-sm-6
							.fh5co-testimonial.text-center.animate-box
								h2 What Others Think
								figure
								img(src='images/user-1.jpg', alt='user')
								blockquote
									p
										| “Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.”
								span Steve Jobs, Apple Inc.
						.col-md-6.col-sm-6
							.fh5co-about-us.animate-box
								h2.text-center About Us
								img(src='images/about-image.jpg', alt='About Us')
								p
									| Far far away, behind the word mountains, far f`rom the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. 
									br
									a(href='#') Know More About Us

			// fh5co-work-section
			#fh5co-services-section.border-bottom
				.container
					.row
						.col-md-12.col-sm-12
							.row
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-browser
										h3 Web Development
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-mobile
										h3 Mobile Apps
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-tools
										h3 UX Design
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-video
										h3 Video Editing
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-search
										h3 SEO Ranking
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
								.col-md-4.col-sm-4
									.services.animate-box
										span
											i.icon-cloud
										h3 Cloud Based Apps
										p
											| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.


			div(id="fh5co-start-project-section" class="parallax-window", data-parallax="scroll", data-image-src="images/work-1.jpg")
				.container
					.row
						.col-md-8.col-md-offset-2.text-center.animate-box
							h2 Start a Project
							a.btn.btn-primary(href='#') Get in Touch
				// START a project

			
			footer
				#footer
					.container
						.row
							.col-md-6
								p
									| Copyright 2016 Free Html5
									a(href='#') Render
										| . All Rights Reserved.
									br
									| Made with by
									a(href='http://freehtml5.co/') Freehtml5.co
										|	/ Demo Images:
									a(href='https://unsplash.com/') Unsplash

							.col-md-6
								ul.footer-menu
									li
										a(href='#') Home
									li
										a(href='#') Portfolio
									li
										a(href='#') Services
									li
										a(href='#') About
									li
										a(href='#') Blog
									li
										a(href='#') Contact